
.container {
    background:hsl(0, 0%, 98%);
    margin: 150px 100px;
    /* max-width: 1440px; */
    padding: 70px;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
    background: hsl(183, 49%, 92%);
    color: hsl(229, 6%, 66%);
    font-family: Arial, Helvetica, sans-serif;
    font: 600px 16px / 18px 'poppins';
    font-size: 16px;
  }
h1,h2,h3 {
    color: hsl(234, 12%, 34%);
}
h1,h2,h3{
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.lead {
    text-align: center;
    padding: 10px;
   }   
.lead h1 {
    font-weight: 700px;
}
.lead h2 {
    color: hsl(229, 6%, 66%);
    font-weight: lighter;
    
}
h3 {
    font-size: 23px;
}

/*
  ========================================
  teasers & lead
  ========================================
*/
.teaser {
    background-color: #fff;
    margin: 13px;
    padding: 25px;
    box-shadow:  4px 4px 4px 4px hsl(229, 16%, 90%);
}
.supervisor{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.team-builder{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.karma{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator{
    border-top: 5px solid hsl(212, 86%, 64%);
}
/*
  ========================================
  flex & rows
  ========================================
*/
.grid,.grid-child {
    display: flex;
    justify-content: center;
}
.grid-child{
    flex-basis: 25%;
    flex-direction: column;
}

.supervisor,.calculator {
    flex-basis: 20%;
    align-self: center;
}
.teaser {
    display: flex;
    flex-direction: column;
}
.teaser img {
    margin-top: 25px;
    align-self: flex-end;
    justify-content: flex-end;
}
/*
  ========================================
  multiple support
  ========================================
*/
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    
    .container{
        margin:0px;
        padding: 20px;
    }
    .teaser {
        margin: 10px 0px;
    }
    h1,h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    br {
        content: "";
    }
    .grid {
        display:flex;
        flex-direction: column;
    }
  }
  @media only screen and (max-width:1300px) and (min-width:1001px) {
    /* For ipod : */
    
    .container {
        margin: 150px 30px;
        padding: 30px;
    }
    .grid-child{
        flex-basis: 32%;
        flex-direction: column;
    }
    h1,h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 27px;
    }
    .supervisor,.calculator {
        flex-basis: 27%;
        align-self: center;
    }
  }
  @media only screen and (max-width:1000px) and (min-width:501px) {
    /* For ipod pro: */
    
    .container {
        margin: 60px 20px;
        padding: 30px 0px;
        font-size: 14px;
    }
    h1,h2 {
        font-size: 23px;
    }
    h3 {
        font-size: 19px;
    }
    .grid-child{
        flex-basis: 40%;
        flex-direction: column;
    }
    .team-builder,.karma{
        padding: 10px;
    }
    .supervisor,.calculator {
        padding: 10px;
        flex-basis: 35%;
        align-self: center;
    }
  }